{{#each scripts}}
<script src="{{script1}}"></script>
{{/each}}

<h2 class="headerbottm"><center>Credentials Vault</center></h2>
<br>
<form method="post" action="/test/updateENV">

 <div class="form-group">
   <div class="form-group">
     <label>Witness Username: <br><i>The name of the witness to watch:</i></label>
     <input type="text" class="form-control" placeholder="Username of Witness" name="witnessUsername">
   </div>
  <label>Notification Email:<br><i>The Email Address at which you would like to receive notifications:</i></label>
  <input type="email" class="form-control" placeholder="Email to Receive Alert Notifications at." name="receiving_email">
 </div>
 <div class="form-group">
   <label>Account Active Key:<br><i>Private Active Key of Witness Account:</i></label>
   <input type="text" class="form-control" placeholder="Active Key of Witness Account" name="account_ActiveKey">
 </div>
 <!-- <div class="form-group">
   <label>Confirm Account Active Key</label>
   <input type="text" class="form-control" placeholder="Confirm Active Key of Witness Account" name="account_ActiveKey1">
 </div> -->
  <div class="form-group">
    <label>Node A Public Brain Key:<br><i>Public Witness Signing Key of Main Node:</i></label>
    <input type="text" class="form-control" placeholder="Public Brain Key of Node A" name="NodeA_BrainKey">
  </div>
  <!-- <div class="form-group">
    <label>Confirm Node A Public Brain Key</label>
    <input type="text" class="form-control" placeholder="Confirm Public Brain Key of Node A" name="NodeA_BrainKey1">
  </div> -->
  <div class="form-group">
    <label>Node B Public Brain Key:<br><i>Public Witness Signing Key of Backup Node:</i></label>
    <input type="text" class="form-control" placeholder="Public Brain Key of Node B" name="NodeB_BrainKey">
  </div>
  <!-- <div class="form-group">
    <label>Confirm Node B Public Brain Key</label>
    <input type="text" class="form-control" placeholder="Confirm Public Brain Key of Node A" name="NodeB_BrainKey2">
  </div> -->
  <!-- <div class="form-group">
    <label>Check Rate<i></i></label>
    <input type="text" class="form-control" placeholder="How often to check witness, in MS." name="checkRate">
  </div> -->
  <!-- <div class="form-group">
    <label>Threshold</label>
    <input type="text" class="form-control" placeholder="Threshold (Minimum Allowed Missed Blocks)" name="threshold">
  </div> -->
  <!-- <div class="form-group">
    <label>Account Creation Fee</label>
    <input type="text" class="form-control" placeholder="Account Creation Fee" name="accountCreationFee" value="testvalue">
  </div> -->
  <!-- <div class="form-group">
   <label>Maximum Block Size</label>
   <input type="text" class="form-control" placeholder="Maximum Block Size" name="MaximumBlockSize">
 </div> -->
  <div class="form-group">
    <label>Witness Link:<br><i>Link to publish during Witness Update.</i></label>
    <input type="text" class="form-control" placeholder="Link to post on Witness Update" name="WitnessLink">
  </div>
  <div class="form-group">
   <label>Notification Sending Gmail:<br><i>Gmail to send Notifications from. Leave blank to use hosted account.</i></label>
   <input type="email" class="form-control" placeholder="Email to send/receive alerts from." name="NotificationGmail_Email">
 </div>
 <div class="form-group">
  <label>Notification Sending Gmail Password:<br><i>Password of Notification Sending Gmail Account. Leave blank for hosted notifications.</i></label>
  <input type="text" class="form-control" placeholder="Password of Email to send/receive alerts from." name="NotificationGmail_Password">
</div>
<!-- <div class="form-group">
 <label>Node Url (Leave empty for WLS)</label>
 <input type="text" class="form-control" placeholder="Node URL of the chain you wish to run on. Advanced Option. Leave empty for WLS." name="node_URL">
</div> -->
<div class="form-group">
 <label>Node Address Prefix:<br><i>Address Prefix of Chain. WLS or SMK only. Leave blank for WLS.</i></label>
 <input type="text" class="form-control" placeholder="Node Address of the chain you wish to run on. Advanced Option. Leave empty for WLS." name="node_address_prefix">
</div>
<!-- <div class="form-group">
 <label>Node Chain ID</label>
 <input type="text" class="form-control" placeholder="ID of the chain you wish to run on. Advanced Option. Leave empty for WLS." name="node_chain_id">
</div> -->
<div class="form-group">
<select name="Adress_Prefix:" class = "dropdown">
  <option value="WLS">Whaleshares!</option>
  <option value="SMK">Smoke!</option>
</select>
</div>

  <button type="Update .env File!" id="SubmitButton" class="btn btn-default">Submit</button>
</form>
